<!DOCTYPE html>

	<head>
	<link href="/jquery.datetimepicker.css" rel="stylesheet">
	<script language="javascript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script language="javascript" type="text/javascript" src="really-simple-color-picker\js\jquery.colorPicker.min.js"/></script>
	<script src="/jquery.datetimepicker.js"></script>
		<script type="text/javascript">
  //Run the code when document ready
  $(function() {    
   
   
   $('#color1').colorPicker();
   $('#datetimepicker').datetimepicker();


  });
</script>




	</head>
	
	<body>
		<form action="/visit" method="POST">
		Input you name:
		<input  class="form-control" name="name" type="text" value="<%= @name %>">
		
		
		
		Input you phone number:
		<input  class="form-control" name="phone" type="text" value="<%= @phone %>" >
		
		
		
		Input day of visiting:
		<input  class="form-control" type="text" name="date" id="datetimepicker" value="<%= @date %>" >
		
		select youre barber
		
		<select class="form-control" name="barber">
		  <% @barbers.each do |barber|%>
		  
		  <option <%= @barber==barber.name ? 'selected' : ''%> ><%= barber.name %></option>
		  
		  <%end%>
		</select>
		
		
		
		
		
		
		Select color:
		
		 <div>
<label for="color1">Color 1</label>
		 <input id="color1" type="text" name="color" value="#333399" />
		 </div>
		 
		
		
		
		<button type="submit" > Submit </button>
		</form>
		
		
		<% @clients.each do |client|%>
		<%=client.name%>
		<%end%>
		
	</body>